In [182]:
%load_ext autoreload
%autoreload 2
from model import World, Animal, Player
import random
import pandas as pd
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [183]:
# Global Settings
num_codes = 5000
num_players = round(num_codes/150)
print('Codes: %d' % num_codes)
print('Players: %d' % num_players)

Codes: 5000
Players: 33

In [184]:
w1 = World(num_players,num_codes)

In [ ]:
w1.simulate()

In [193]:
w1.report()

winner_group0    3
winner_group1    8
winner_group2    3
winner_group3    5
winner_group4    4
winner_group5    5
winner_group6    0
winner_group7    0
winner_group8    0
winner_group9    0
dtype: int64

In [157]:
w1.df.head()

,id,name,num_animals,num_group0,num_group1,num_group2,num_group3,num_group4,num_group5,num_group6,...,winner_group0,winner_group1,winner_group2,winner_group3,winner_group4,winner_group5,winner_group6,winner_group7,winner_group8,winner_group9
0,000001,Michael Shaffner,70,5,8,8,6,4,7,0,...,0,0,0,0,0,0,0,0,0,0
1,000002,Stephanie Wheeler,91,8,6,7,6,9,9,0,...,0,0,0,0,0,0,0,0,0,0
2,000003,Betty Lovett,75,6,7,9,9,6,9,0,...,0,0,0,0,0,0,0,0,0,0
3,000004,Sharon Bear,72,8,7,5,9,6,8,0,...,0,0,0,0,0,0,0,0,0,0
4,000005,Sam Russo,59,3,5,5,9,7,8,0,...,0,0,0,0,0,0,0,0,0,0